[mysqld]
server-id=223344
log_bin=mysql-bin
binlog_format=ROW
binlog_row_image=FULL

binlog_expire_logs_seconds=604800

bind-address=0.0.0.0

# Modern and safe
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,ERROR_FOR_DIVISION_BY_ZERO

# Remove deprecated:
# default_authentication_plugin=mysql_native_password
# expire-logs-days
# skip-host-cache

